<h1><%= @user.name %></h1>
<% if can? :update, @user %>
  <%=  link_to "Изменить профиль", edit_profile_path(@user[:id]), class: "btn btn-success" %>
<% end %>
<br>

<% @user.posts.each do |post|%>
    <%= post.title %>
    <div class="img"><%= link_to image_tag(post.image.large), post_path(post) %>
      <% if can? :update, @user %>
          <%= link_to "Удалить фото", post, method: :delete %>
      <% end %>
    </div>
<% end %>
<br>

<% if can? :update, @user %>
  <h4>Добавить фото:</h4>
  <%= render 'posts/form', post: @post %>
<% end %>