<h1><%= @user.name %></h1>
<% if can? :update, @user %>
  <%=  link_to "Изменить профиль", edit_profile_path(@user[:id]), class: "btn btn-success" %>
<% end %>

<%= render 'posts/form', post: @post %>

<% @user.posts.each do |post|%>
    <div class="img"><%= image_tag post.image %></div>
    <%= post.title %>
<% end %>