<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>
<%= image_tag @post.image %>

<%= render 'notices/form', notice: @notice %>

<% @post.notices.each do |notice|%>
  <%= notice.body %>
<% end %>